# Secrets
.env
.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Raw Datasets & Preprocessed Datasets
dataset/
.dataset/
ravdess_preprocessed/
cremad_preprocessed/
savee_preprocessed/
tess_preprocessed/
combined_preprocessed/
scratch/

# Model checkpoints & experiment outputs
outputs/
*.pt
*.bin
*.safetensors

# OS / IDE / Logs / Archives
.DS_Store
.idea/
.vscode/
*.zip